extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") Add new comment 
  ul 
    each comment in messages
      li
        p #{comment.user}
        p #{comment.text}
        p #{comment.added}
